name: Release

on:
  push:
    tags:
      - 'v*'
    branches:
      - publish-apk-on-github # TODO: remove this

jobs:
  release:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'gradle'
      - name: Build with Gradle
        run: ./gradlew buildRelease
      - name: Sign app
        uses: ilharp/sign-android-release@v1
        id: sign_app
        with:
          keyAlias: ${{ secrets.ANDROID_KEY_ALIAS }}
          keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}
          keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          signingKey: ${{ secrets.ANDROID_SIGNING_KEY }}
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{steps.sign_app.outputs.signedFile}}
